%h1.pt-3 Kobe.rb
%p は、神戸のプログラミング言語Rubyのコミュニティです。
%p= image_tag 'hero-koberb.jpg', class: 'img-full'
%h2 コミュニティ紹介
%p Kobe.rbには、派生コミュニティを含め、3つのコミュニティがあります。
.card-group.mb-3
  .card
    .card-body
      %h3.card-title
        Kobe.rb
        %small
          %span.badge.badge-info 月2回
          %span.badge.badge-info 平日夜
          %span.badge.badge-info 三宮
      %p.card-text もくもく会＋懇親会です。作業したり、相談したり、お酒を飲んだりします。Ruby以外の技術や、ビジネス、英語学習の話題も活発です。
    .card-footer.text-center= link_to('詳しく見る', 'https://koberb.doorkeeper.jp/', class: 'btn btn-primary')
  .card
    .card-body
      %h3.card-title
        Rails Follow-up Kobe
        %small
          %span.badge.badge-info 月1回
          %span.badge.badge-info 休日朝
          %span.badge.badge-info 阪神深江
      %p.card-text Railsを勉強している人が集まって、教え合う会です。聞く人・教える人の区別はなく、お互いにサポートしあいます。
    .card-footer.text-center= link_to('詳しく見る', 'https://rails-followup-kobe.doorkeeper.jp/', class: 'btn btn-primary')
  .card
    .card-body
      %h3.card-title
        RailsGirls Kobe
        %small
          %span.badge.badge-info 年1回
          %span.badge.badge-info 金夜・土
      %p.card-text プログラミング未経験の女性を対象にしたイベントです。コーチがマンツーマンでサポートし、Webアプリケーションの開発・公開を体験できます。
    .card-footer.text-center= link_to('詳しく見る', 'https://railsgirls-kobe.doorkeeper.jp/', class: 'btn btn-primary')
%h2 他地域のコミュニティ
%p 準備中です
